# $ nvm use 2.7.7 --default
# $ bundle exec jekyll serve
vendor

# IDE
.idea
.vscode

# jekyll
_site
.sass-cache
.jekyll-metadata
.jekyll-cache

# Ruby
.bundle

# base
.DS_Store
Thumbs.db

# Docker
.docker
