---
layout: default
title: 主頁
---

<div class="pagination">

  {% if paginator.previous_page %}

    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">上一頁</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">上一頁</a>
    {% endif %}

  {% else %}

    <span class="pagination-item newer">上一頁</span>

  {% endif %}

  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">下一頁</a>
  {% else %}
    <span class="pagination-item older">下一頁</span>
  {% endif %}


</div>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {% if post.tags %}
      <div class="post-tag" style="background:#ccc"> {{ post.date | date: "%Y-%m-%d" }} </div>
      {% for tag in post.tags %}
        <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">
          {{ tag }}
        </a>
      {% endfor %}
    {% endif %}
    <br/>
    {{ post.excerpt }}
    <a href="{{ site.baseurl }}{{ post.url }}">
      查看更多
    </a>
  </div>
  {% endfor %}
</div>

