---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-tag" style="background:#ccc"> {{ page.date | date: "%Y-%m-%d" }} </div>
  {% if page.tags %}
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">
        {{ tag }}
    </a>
    {% endfor %}
  {% endif %}
  {{ content }}
</div>

<div class="related">
  <h2>相關文章</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <div class="post-tag" style="background:#ccc"> {{ post.date | date: "%Y-%m-%d" }} </div>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
